body {
    font-family: 'Red Hat Display';font-size: 22px;
}

#mainGrid {
    display:grid;
}
.header {
    display: grid;
    position: fixed;
    padding-bottom: 40px;
    top:0;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;

}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.btn-group {
    display: inline-flex;
    position:static;
    vertical-align: middle;
} 
.btn-dark {
  position:static;
  flex: 1 1 auto;
}
#logIn {
    display: grid;
    height: 100vh;
    font-weight: 600;
    justify-self: end;
}

.navbarDropdown {
    display:inline-block;
    text-emphasis: #33CCCC ;
}
.navbar {
    display: inline-block;
    background-color: black;
    padding: 7px 25px;
    color: black;
}
.nav-link {
    background-color:white;
    color:black;
    font-size: 75px;
}

.nav-item {
    size: 40px;
    color: black;
    background-color: white;
    font-weight: bold;  
}
.active {
    background-color: #33CCCC;
}


.sectionHeading {
    font-weight: bold;
    color: white;

}
.mainTitle{
    font-weight: bold;
    color: white;
    size: 40px;
}
.h2{
    font-weight: 600;
    color:white;
}
.h3 {
    font-size: 24px;
}

.p {
    display: grid;
    position: relative;
    font-size: 16pt;
}


.containerVideo {
    display: grid;
    float: center;
    justify-content: center;
    align-content: center;
    margin: auto; 
}

.donationSteps {
    float: left;
}

.formContainer {
    float: right;

}



.footerText {
    font-weight: 600;
    font-size: 40pt;

}
