body {
    font-family: 'Red Hat Display';font-size: 22px;
}
.header {
    position: sticky;
}

.nav-link {
    background-color:white;
    font-size: 75px
}

.nav-item {
    size: 40px;
    color: black;
    background-color: white;
    font-weight: bold;
    
}
.active {
    background-color: #33CCCC;
}
.sectionHeading {
    font-weight: bold;
    color: white;

}
.mainTitle{
    font-weight: bold;
    color: white;
    size: 40px;
}
.h2{
    font-weight: 600;
    color:white;
}
.h3 {
    font-size: 24px;
}

.containerVideo {
    justify-content: center;
    margin: 50px;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 50px;
    padding: 50px;
}
.donationSteps {
    float: left;
}

.formContainer {
    float: right;

}


.footerText {
    font-weight: 600;
    font-size: 40pt;

}
